@import "mixins.scss";
@import "../../../../../types/Page_base";
.system_brease_Page_style_default {
@include system_brease_Page_base; 

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_default {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader .textDiv {
	color: #FFFFFF;
}
.breaseDialogWindowHeader {
	border-width: 0px;
}
.breaseDialogWindowHeader {
	background-color: #3388CC;
}
@include border-radius(8px 8px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(8px 8px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
	border-width: 1px;
}
.breaseDialogWindowContentBox {
	border-color: #DDDDDD;
}
@include box-shadow(1px 1px 14px 0px rgba(5, 112, 193, 0.75));

}
@import "../../../../../types/MessageBox_base";
.system_brease_MessageBox_style_default {
@include system_brease_MessageBox_base; 
.breaseMessageBoxHeader {
	border-width: 0px;
}
.breaseMessageBoxContentBox div.content {
	font-size: 20px;
}
.breaseMessageBoxContentBox div.content {
	color: #000000;
}
.breaseMessageBoxHeader {
	border-radius: 8px 8px 0px 0px;
}
.messageBoxFooter {
	border-radius: 8px 8px 0px 0px;
}
.breaseMessageBoxContentBox {
	border-width: 1px;
}
.breaseMessageBoxContentBox {
	border-color: #DDDDDD;
}
@include box-shadow(1px 1px 14px 0px rgba(5, 112, 193, 0.75));

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_default {
@include system_brease_Area_base; 
	background-color: #FFFFFF;

}
@import "../../../../../types/Scrollbar_base";
.system_brease_Scrollbar_style_default {
@include system_brease_Scrollbar_base; 
.iScrollIndicator {
	background-color: rgba(51, 136, 204,0.5);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	background: rgba(51, 136, 204,0.5);
}
.iScrollIndicator {
	border-color: rgba(51, 136, 204,0.9);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-color: rgba(51, 136, 204,0.9);
}

}
@import "../../../../../types/Tooltip_base";
.system_brease_Tooltip_style_default {
@include system_brease_Tooltip_base; 
.tooltip-arrow {
@include display(true);
}
.breaseTooltip .breaseTooltipText {
	font-size: 14px;
}
.breaseTooltip {
	background-color: #F6F6F6;
}
.tooltip-arrow .tooltip-arrow-background {
	border-top-color: #F6F6F6;
}
.breaseTooltip .breaseTooltipText {
	color: #000000;
}
.breaseTooltip {
	border-color: #DDDDDD;
}
.tooltip-arrow .tooltip-arrow-border {
	border-top-color: #DDDDDD;
}
.breaseTooltip {
@include box-shadow(1px 1px 14px 0px rgba(5, 112, 193, 0.75));
}

}
@import "../../../../../types/TableConfigurationDialog_base";
.system_brease_TableConfigurationDialog_style_default {
@include system_brease_TableConfigurationDialog_base; 
header {
	background-color: #3388CC;
}
header div {
	font-size: 20px;
}
header div {
	color: #FFFFFF;
}
header {
	border-width: 0px;
}
header {
@include reverseMargin(0px);
}
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
@include static-top-border(0px);
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
.arrowLeft .breaseWindowArrow {
	border-right-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
.arrowRight .breaseWindowArrow {
	border-left-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include border-radius(8px 8px 0px 0px);
header {
@include border-radius(8px 8px 0px 0px);
}
.generic-dialog-content-footer-container {
@include border-radius(8px 8px 0px 0px);
}
@include box-shadow(1px 1px 14px 0px rgba(5, 112, 193, 0.75));
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.fail svg {
	fill: #FF0000;
}

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_transparent {
@include system_brease_Area_base; 
	background-color: transparent;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_tableConfigurationDialogStyle {
@include widgets_brease_Rectangle_base; 
	border-color: #3388CC;

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_tableConfigurationDialogStyle {
@include widgets_brease_Label_base; 
	font-size: 14px;
& span {
	color: #000000;
}
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 2px;
}

}
