@import "mixins.scss";
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_default {
@include widgets_brease_Button_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #000000;
}
&.active:not(.disabled):not(.editMode) span {
	color: #000000;
}
&.active.checked:not(.disabled) span {
	color: #000000;
}
@include border-radius(5px);
&:not(.active):not(.checked) {
	border-width: 0px;
}
&.disabled {
	border-width: 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px;
}
&.checked:not(.disabled) {
	border-width: 0px;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: #F6F6F6;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #EDEDED;
}
&.checked:not(.disabled) {
	background-color: #EDEDED;
}
&:not(.active):not(.checked) {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.disabled.active {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.disabled.checked {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(1px 1px 8px 0px rgba(5, 112, 193, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(1px 1px 8px 0px rgba(5, 112, 193, 0.75));
}

}
@import "../../../../widgets/brease/ToggleButton/meta/ToggleButton_base";
.widgets_brease_ToggleButton_style_default {
@include widgets_brease_ToggleButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #000000;
}
&.active:not(.disabled):not(.editMode) span {
	color: #000000;
}
&.active.checked:not(.disabled) span {
	color: #000000;
}
@include border-radius(5px);
&:not(.active):not(.checked) {
	border-width: 0px;
}
&.disabled {
	border-width: 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px;
}
&.checked:not(.disabled) {
	border-width: 0px;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: #F6F6F6;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #EDEDED;
}
&.checked:not(.active):not(.disabled) {
	background-color: #EDEDED;
}
&:not(.active):not(.checked) {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.disabled.active {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.disabled.checked {
@include box-shadow(1px 1px 8px 0px rgba(58, 58, 58, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(1px 1px 8px 0px rgba(5, 112, 193, 0.75));
}
&.checked {
@include box-shadow(1px 1px 8px 0px rgba(5, 112, 193, 0.75));
}
&.disabled.checked {
@include box-shadow(1px 1px 8px 0px rgba(5, 112, 193, 0.75));
}

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_default {
@include widgets_brease_Label_base; 
	font-size: 16px;
& span {
	color: #000000;
}
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}

}
@import "../../../../widgets/brease/KeyBoard/meta/KeyBoard_base";
.widgets_brease_KeyBoard_style_default {
@include widgets_brease_KeyBoard_base; 
.keyBoardBody {
	background-color: #ebf3fa;
}
	border-color: #3388CC;
header {
	background-color: #3388CC;
}
.dropdown .button.active {
	background-color: #3388CC;
}
.dropdown .button.selected {
	background-color: #3388CC;
}
.keyBoardBody button.active {
	background-color: #3388CC;
}
.keyBoardBody button.selected {
	background-color: #3388CC;
}
.keyBoardBody button.active .icon-delete {
	color: #3388CC;
}
.keyBoardBody button.selected .icon-delete {
	color: #3388CC;
}
.dropdown .dropdownlist div.selected {
	color: #FFFFFF;
}
.keyBoardBody button.active {
	color: #FFFFFF;
}
.keyBoardBody button.selected {
	color: #FFFFFF;
}
.keyBoardBody button.active sub {
	color: #FFFFFF;
}
.keyBoardBody button.selected sub {
	color: #FFFFFF;
}
.keyBoardBody button.active svg {
	fill: #FFFFFF;
}
.keyBoardBody button.selected svg {
	fill: #FFFFFF;
}
.keyBoardBody button.active .icon-shift {
	background-color: #FFFFFF;
}
.keyBoardBody button.selected .icon-shift {
	background-color: #FFFFFF;
}
.keyBoardBody button.active .icon-shift:after {
	border-bottom-color: #FFFFFF;
}
.keyBoardBody button.selected .icon-shift:after {
	border-bottom-color: #FFFFFF;
}
.dropdown {
	color: #000000;
}
.keyBoardButtons button {
	color: #000000;
}
.keyBoardButtons button sub {
	color: #000000;
}
.keyBoardButtons button svg {
	fill: #000000;
}
.keyBoardBody button .icon-shift {
	background-color: #000000;
}
.keyBoardBody button .icon-shift:after {
	border-bottom-color: #000000;
}

}
@import "../../../../widgets/brease/NumPad/meta/NumPad_base";
.widgets_brease_NumPad_style_default {
@include widgets_brease_NumPad_base; 
.numpad {
	background-color: #FFFFFF;
}
	border-color: #3388CC;
header {
	background-color: #3388CC;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #3388CC;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #3388CC;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #3388CC;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #3388CC;
}
.breaseNumPadButtons button.active {
	background-color: #3388CC;
}
.breaseNumPadButtons button.active {
	color: #FFFFFF;
}
.breaseNumPadButtons button.active .breaseNumPadDeleteIcon {
@include svgcolordelete('#FFFFFF');
}
.breaseNumPadButtons button.active .breaseNumPadEnterIcon {
@include svgcolorenter('#FFFFFF');
}
.breaseNumPadButtons button {
	color: #000000;
}
.maxValueBox .maxValue {
	color: #000000;
}
.maxValueBox label {
	color: #000000;
}
.minValueBox .minValue {
	color: #000000;
}
.minValueBox label {
	color: #000000;
}
.breaseNumPadDeleteIcon {
@include svgcolordelete('#000000');
}
.breaseNumPadEnterIcon {
@include svgcolorenter('#000000');
}

}
@import "../../../../widgets/brease/DateTimePicker/meta/DateTimePicker_base";
.widgets_brease_DateTimePicker_style_default {
@include widgets_brease_DateTimePicker_base; 
.dateTimePickerBody .dateTimePickerButtons {
	background-color: #FFFFFF;
}
.dateTimePickerBody button {
	background-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerHeadings .actDate {
	background-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerControl {
	background-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerButtons .dtfragment {
	border-right-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerButtons button {
	border-bottom-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerControl .dateTimePickerEnter.active {
	background-color: #FFFFFF;
}
.dateTimePickerBody .dateTimePickerControl .dateTimePickerReset.active {
	background-color: #FFFFFF;
}
	border-color: #3388CC;
header {
	background-color: #3388CC;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #3388CC;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #3388CC;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #3388CC;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #3388CC;
}
.dateTimePickerBody button {
	color: #000000;
}
.dateTimePickerBody .dateTimePickerHeadings .actDate {
	color: #000000;
}
.dateTimePickerBody .dateTimePickerButtons .marker {
	background-color: #3388CC;
}
.dateTimePickerBody .dateTimePickerControl .dateTimePickerEnter.active {
	background-color: #3388CC;
}
.dateTimePickerBody .dateTimePickerControl .dateTimePickerReset.active {
	background-color: #3388CC;
}

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_default {
@include widgets_brease_Rectangle_base; 
	border-width: 1px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #000000;
	opacity: 1;

}
@import "../../../../widgets/brease/Ellipse/meta/Ellipse_base";
.widgets_brease_Ellipse_style_default {
@include widgets_brease_Ellipse_base; 
	border-width: 1px;
	background-color: transparent;
	border-color: #000000;
	opacity: 1;

}
