#main_Label1 {
  top: 20px;
  position: absolute;
}

#main_Label1 {
  left: 20px;
  position: absolute;
}

#main_Label1 {
  width: 800px;
}

#main_Label1 {
  height: 620px;
}

#main_Label1 {
  z-index: 0;
}

#main_Label1 {
  font-size: 100px;
}

#main_Ellipse1 {
  top: 160px;
  position: absolute;
}

#main_Ellipse1 {
  left: 820px;
  position: absolute;
}

#main_Ellipse1 {
  width: 340px;
}

#main_Ellipse1 {
  height: 320px;
}

#main_Ellipse1 {
  z-index: 1;
}

#main_Ellipse1 {
  background-color: red;
}

#main_Ellipse2 {
  top: 160px;
  position: absolute;
}

#main_Ellipse2 {
  left: 820px;
  position: absolute;
}

#main_Ellipse2 {
  width: 340px;
}

#main_Ellipse2 {
  height: 320px;
}

#main_Ellipse2 {
  z-index: 2;
}

#main_Ellipse2 {
  background-color: lime;
}

#main_Ellipse3 {
  top: 160px;
  position: absolute;
}

#main_Ellipse3 {
  left: 1240px;
  position: absolute;
}

#main_Ellipse3 {
  width: 340px;
}

#main_Ellipse3 {
  height: 320px;
}

#main_Ellipse3 {
  z-index: 3;
}

#main_Ellipse3 {
  background-color: lime;
}

#main_Ellipse4 {
  top: 160px;
  position: absolute;
}

#main_Ellipse4 {
  left: 1240px;
  position: absolute;
}

#main_Ellipse4 {
  width: 340px;
}

#main_Ellipse4 {
  height: 320px;
}

#main_Ellipse4 {
  z-index: 4;
}

#main_Ellipse4 {
  background-color: red;
}
