@import "mixins.scss";
#main_Label1 {
	@include elemTop(20);
}
#main_Label1 {
	@include elemLeft(20);
}
#main_Label1 {
	@include elemAutoWidth(800);
}
#main_Label1 {
	@include elemAutoHeight(620);
}
#main_Label1 {
		z-index: 0;
}
#main_Label1 {
		font-size: 100px;
}
#main_Ellipse1 {
	@include elemTop(160);
}
#main_Ellipse1 {
	@include elemLeft(820);
}
#main_Ellipse1 {
	@include elemWidth(340);
}
#main_Ellipse1 {
	@include elemHeight(320);
}
#main_Ellipse1 {
		z-index: 1;
}
#main_Ellipse1 {
		background-color: rgba(255, 0, 0, 1);
}
#main_Ellipse2 {
	@include elemTop(160);
}
#main_Ellipse2 {
	@include elemLeft(820);
}
#main_Ellipse2 {
	@include elemWidth(340);
}
#main_Ellipse2 {
	@include elemHeight(320);
}
#main_Ellipse2 {
		z-index: 2;
}
#main_Ellipse2 {
		background-color: rgba(0, 255, 0, 1);
}
#main_Ellipse3 {
	@include elemTop(160);
}
#main_Ellipse3 {
	@include elemLeft(1240);
}
#main_Ellipse3 {
	@include elemWidth(340);
}
#main_Ellipse3 {
	@include elemHeight(320);
}
#main_Ellipse3 {
		z-index: 3;
}
#main_Ellipse3 {
		background-color: rgba(0, 255, 0, 1);
}
#main_Ellipse4 {
	@include elemTop(160);
}
#main_Ellipse4 {
	@include elemLeft(1240);
}
#main_Ellipse4 {
	@include elemWidth(340);
}
#main_Ellipse4 {
	@include elemHeight(320);
}
#main_Ellipse4 {
		z-index: 4;
}
#main_Ellipse4 {
		background-color: rgba(255, 0, 0, 1);
}
