@import "mixins.scss";
#top_ToggleTimer_Btn {
	@include elemTop(160);
}
#top_ToggleTimer_Btn {
	@include elemLeft(280);
}
#top_ToggleTimer_Btn {
	@include elemAutoWidth(740);
}
#top_ToggleTimer_Btn {
	@include elemAutoHeight(380);
}
#top_ToggleTimer_Btn {
		z-index: 0;
}
#top_ToggleTimer_Btn {
	span{
		font-size: 150px;
	}
}
#top_ToggleTimer_Btn {
	&.checked:not(.active):not(.disabled){
		background-color: rgba(0, 255, 0, 1);
	}
}
